PRD 写作要求

To Gemini：注意，以下开始是我之前写的⼀篇⽂章《产品需求⽂档写作指南》，你可以以此⽂章为参考，

检查写的 prd 是否能满⾜我的要求。你不需要每篇⽂章都严格按照我的要求，⽐较简单的需求可以适当省

略⼀些内容。⽂章最后我会给你⼀个 prd 示例。

1.写作背景

需求⽂档是产品经理吃饭的家伙，讲怎么写需求⽂档的⽂章、视频也很多，但⼤多数内容仅仅局限在⼀个

prd 的格式是什么。我的理解是，不同情况下，需求⽂档的格式没有⼀定之规，但⽂档内容的标准是能够

归纳出来的。本⽂章试图归纳⼀下⼀份好的需求⽂档的标准是什么。

2020 年左右，我参考了李守中的⽂章：

输出⼀版：

2022 年初，我⼜抽空调整了⼀版框架，就是下⽂的 prd ⾃查⼯具。在实际应⽤过程中，仅凭⼀个框架还是

不容易清晰表达我的意图，所以想抽出时间详细写写。

如前所述，好的 prd 标准并没有⼀定之规，本⽂仅是从个⼈⻆度梳理好的 prd 需要注意哪些要素，以及我

是怎么写 prd 的。相⽐于“怎么写出来”，这篇⽂章我想着重梳理⼀下⾃⼰“为什么这么写”的理解。

在跟朋友的交流中，发现这个话题属于“⾼⼿不屑于写，新⼿写不明⽩”的范围，我也试图取个巧偷个鸡。

另外也说明两点，其⼀，prd 写得好不好属于产品经理的基本功之⼀，但是如果⼀个产品经理只会写 prd，

显然不是⼀个靠谱的产品经理，我们仍然需要从结果来评价产品经理；其⼆，我虽然试图梳理这个话题，

但并不是说我本⼈是⼀个写 prd 多⽜逼，这篇⽂章也是⾃⼰的反思和⾛查表，也希望有缘⼈多多拍砖，批

评指正。

2.需求⽂档重要吗？

⾮常重要。

需求⽂档是研发流程中最重要的凭据。

⾸先，需求⽂档描述了这个需求的原始说明。它的场景是什么，它要解决什么问题，它⽤何种⽅式解决，

它期望的解决效果是什么。后置的技术⽂档、测试⽤例、代码实现等，均依赖原始的需求⽂档进⾏⽣产。

其次，需求⽂档是团队各⽅沟通的依据。需求⽅、设计、研发、测试、运营等每⼀个环节，都可以借助需

求⽂档同步思路，确认各⽅所构思的东⻄是同⼀个东⻄，确保需求执⾏中的所有改动能有效、准确同步给

各个相关⽅。

再次，需求⽂档是产品经理直接产出的“产品”。从经验上来判断，需求⽂档写得好的产品经理⼀般基本功

不会太差。好的需求⽂档也是对产品经理的⼀种评价标准。

最后，虽然⼤多数需求是在需求⽂档撰写前就已经规划好的。但是撰写过程并⾮仅仅把讨论中的内容结构

化写在纸上这么简单，写⽂档是对需求的深度思考的过程，写⽂档也是产品经理⾃⼰思维训练的过程。

PRD写作要求 - 1

https://www.douban.com/note/740671393/?_i=6051139rnZDWYs，https://zhuanlan.zhihu.com/p/159106958。3.需求⽂档模块说明

3.1 需求⽂档的模块是固定的吗？

是也不是。

固定的，为了准确说明⼀个需求，⽬标、背景、相关⽅、前端交互、后端逻辑、埋点⽅案等各个模块是需

要⻬全的，任何⼀块缺少描述都可能会导致需求实现过程中的变形。

不固定的，不同的交付时间要求、不同的团队⻛格、不同的业务阶段可能对需求的“容忍度”是不⼀样的。

例如上午收到需求，中午评审，明天上线的场景；例如固定产研班⼦的⻓期合作关系下，有时后台需求直

接⽤字段表来说明即可，不需要描述后台的交互。

总结成好⽂档的必要条件是——好⽂档能得到团队中各个⻆⾊的认可，且不会因为⽂档问题导致实现变

形。

评价需求⽂档要回归⽂档的本质——需求⽂档是产品经理撰写的、供团队内不同⻆⾊使⽤的、保证合理需

求稳定实现的⼯具。

所以当我看到有很多 PRD 写作指南给出⼀个规范模板的时候，都感觉不太赞同——不同的团队、不同的业

务阶段，对 PRD 的格式要求是不同的。

3.2 需求⽂档需要有哪些模块？

PRD写作要求 - 2

模块

作⽤

⼦模块

需求背景

研发不直

根据需求类

接实现

型、复杂程

的、为了

度不同，可

便于相关

能会包含以

⽅理解需

下⼦模

求的内容

块： - ⼀

句话描述需

求 - 需求

⽬标 - ⽤

户诉求 - 

业务诉求 

- ROI 评

估 - 名词

解释 - 竞

品分析 

……  ※ ⼦

模块放在需

求背景⾥

⾯，还是单

独拆出作为

⼀级标题，

全凭个⼈喜

好

需求概述

在讲解需

根据需求类

求细节

型、复杂程

前，能⼀

度不同，可

眼全览需

能会包含以

求全流

下⼦模

程、相关

块： - ⽤

流程

户端交互流

转图：⽤线

框图 + 箭

头 + 条

件，直观表

示相关⻚⾯

之间的跳转

关系，并标

明各个⻚⾯

的名称 - 

后端流程

图：⽤流程

PRD写作要求 - 3

图：⽤流程

图或泳道图

的形式，表

示相关后端

逻辑框架；

个⼈习惯总

流程图中不

展开说明⼦

流程、逆

向、异常流

程，仅标注

出哪些场景

下进⼊⼦流

程，并在需

求详述⾥⾯

描述⼦流程

细节 - 其

他全局视⻆

的图表：产

品框架图

（模块之间

的相互关

系、迭代节

奏）、功能

清单或脑

图、⽤户旅

程图等

需求详述

按照从总

详述基本

到分、从

是 PRD 最

主流程到

重要的部

边缘流

分，下⽂详

程、分场

细讨论需求

景逐⼀描

详述的标准

述各个需

求模块

埋点⽅案

涉及到埋

⼀般单独作

点需求的

为⼀个模

⽂档，需

块，也有整

要说明关

合到需求详

注哪些⾏

述中的习惯

为、关注

哪些数据

⽂档记录

⽂档推进

- 变更记

过程中的

录：变更时

PRD写作要求 - 4

过程中的

录：变更时

所有记录

间、变更

⼈、变更内

容 - 相关

⽅：哪些团

队、哪些

⼈ - 协作

节奏：谁、

什么时间、

交付什么 

……

4.需求背景怎么写

4.1 ⼀句话简介

在我看需求⽂档的时候，往往很关注产品经理能否⼀句话把这个需求讲清楚。能讲清楚的⼈，⼀般对需求

的思考也是相对全⾯的。

⼀般来说，这⼀句话分成三个⼩句，为什么，怎么做，有什么效果。

当然约束条件越多，这句话可能相对复杂⼀点。⽆论怎么复杂，都尽量清晰、直⽩地把这个需求表述出

来。

这句话最重要的功能在于向不清楚的⼈讲解需求的时候，他们能最快时间了解到你要做的事情。

既然这个模块是为便于理解服务的，所以最好语⾔简洁、直⽩，描述具体，尽可能不⽤⼤词、⽣僻词语。

好的例⼦（仅从表述⻆度是好的）：

为了降低⽤户在主动搜索时的决策成本，基于 XX 数据⽣成推荐标签，期望搜索结果点击率提升 XX%

坏的例⼦：

为了提升⽤户体验（什么体验？不具体），设计推荐特征模块（难理解），能满⾜⽤户快、准、好的核⼼

需求（⽬标⾮量化、不说⼈话）

4.2 需求⽬标

需求⽬标⽤来详细解释⼀句话简介中的“为什么”部分。

（1）务虚⽬标

务虚的需求⽬标可以是基于⽤户洞察、基于业务需求，但最好量化出来。务虚⽬标⼀般⽤于未上线的产

品、数据分析困难的产品。

好的例⼦：

经⽤户调研（N=2000)得知，影响⽤户购买决策的 top3 因素有 A（30%）/B（20%）/C（10%），本

需求⽤来强化 A 因素在商品详情⻚的露出，进⽽刺激⽤户的购买意愿。

PRD写作要求 - 5

坏的例⼦：

本需求⽤多种⼿段刺激⽤户的购买意愿，提⾼购买率。

很多情况下，务虚的⽬标不容易量化。我回顾了⼀下⾃⼰做的需求，⼤多数务虚⽬标都是⽐较难量化的。

我的习惯是保证逻辑论证是严密的、有据可依的，⼤多时候没有量化的指标。

如果需要量化，可以参考费⽶预估，⼤问题拆成⼩问题，在安全范围中取值。

（2）务实⽬标

⼀般来说，已上线产品、较稳定产品，是有⼀些⽅法预估出数据指标的。把新需求作为输⼊动作，来预估

输出值的变化。

务实的量化指标是通过落地措施⼀层⼀层正向推导出来的，不是根据更宏观的指标逆向拆分出来的。

好的例⼦：

⽬前完课率 80%。分析未完课⽤户中，10% 的⽤户存在 XX 问题。本需求通过优化 XX 问题，预计完课

率提升⾄ 85%。

坏的例⼦：

为了达成最终 8000w 的销售⽬标，还差 2000w。本需求需要贡献其中 1000w 的⽬标。

产品⼯作必然会接受很多⽼板需求或其他团队的需求，这种情况下执⾏同学很容易不深度思考需求的⽬

标。我很坚持⽆论需求来源是什么，负责的产品经理应该客观、深刻分析需求⽬标，并如实写出来。哪怕

分析的结果偏差很⼤，分析过程本身也是有价值的。

在⽇常⼯作中，我也观察到⼀些⼈不太重视需求⽬标的思考。务虚的⽬标如果发⽣偏离，可能会导致后续

产品设计重点跑偏的现象。务实的⽬标如果发⽣偏离，可能会本末倒置或者为了指标动作变形。

需求⽬标可能很简短，但是短短⼏句话，也容易看出来产品经理对这个需求要解决的问题思考的是不是深

⼊，甚⾄预估到未来⼀系列需求变形的可能性⼤不⼤。

4.3 ⽤户诉求

⽤户诉求⽤来描述这个需求满⾜了哪些⽤户诉求。

需要包括两部分，哪些⽤户，什么诉求。

⽤户诉求模块，需要注意解释为什么是这些⽤户，为什么是这些诉求。⼀般来说，这⾥需要有⼀些数据分

析、⽤研结论或者内容盘点结论的⽀持。

这回到产品决策的话题，决策应该基于事实做出，⽽不应该基于⼆⼿信息或者凭感觉做出。

好的例⼦：

社区存量⽤户中，XX% 是 XX 群体。盘点他们发布内容的习惯中，A 类内容占⽐ XX，B 类内容占⽐

XX，C 类内容占⽐ XX。其中 B 类内容的曝光量显著低于其他类，互动率显著⾼于其他类。结合⽤户访

谈结论，XX% 的⽤户对 B 类内容有消费需求。

需要激励 B 类内容创作者，并合理提⾼ B 类内容的分发流量。

坏的例⼦：

满⾜⽤户消费 B 类内容的需求。

PRD写作要求 - 6

4.4 业务诉求

有时⼀个需求不完全是因为⽤户需求发起的，也有可能是纯业务需求。

⼀般业务诉求的描述没那么严格，直⽩、可读性⾼即可。

我习惯把业务需求和⽤户需求分开写，这样有助于确认⼏个信息：

（1）在满⾜业务需求的前提下，对当前⽤户的体验是否有附加价值

（2）满⾜了业务需求，是否会对⽤户体验产⽣负⾯影响

（3）业务需求还有没有其他满⾜途径

4.5 ROI 评估

其实经过上⾯需求⽬标、⽤户诉求、业务诉求的分析之后，稍简单⼀点的需求就已经完成了 ROI 分析的过

程。

如果本需求影响的功能是某个复杂系统的⼦集，最好在系统⻆度衡量这个需求的 ROI。

我觉得万变不离其宗，就是下⾯这个公式：

净利润 = ⽑利 - 固定成本 = 收⼊ - 变动成本 - 固定成本

交易类型的产品好算⼀些，都能换算成价值；⾮交易产品可能要归到⾃⼰的北极星指标上。

同时，很多需求的 ROI 可能是不明确的，也有可能是明确负的。但出于信仰判断，有时这种需求也有做的

价值。关于信仰判断怎么做不展开分析，应该能搜到⽐较成熟的⽅法论。

4.6 名词解释

如果这个需求引⼊了新的专⽤名词，需要对专⽤名词的称呼进⾏限定，对名词进⾏解释，以免出现本需求

及后续需求称呼来回变化、指代不明确的现象。

同时在产品设计时，也⼀定要保证每⼀个名词是⽤户能理解的，对于同⼀对象的称呼应该是始终统⼀的。

这个模块不是必须的，简单需求、团队内明显约定俗成的称呼⼀般不需要在⽂档中单独说明。

哪些名词需要解释的判断标准是，⼀个第⼀天⼊职的同事能否看明⽩你的⽂档。

除了简单的名字解释之外，也可以在名词解释部分说明可能有的业务限制，帮助⼤家对边界情况进⾏判

断。

好的例⼦：

⾖邮：⾖瓣站内⽤户与⽤户之间、平台与⽤户之间相互发送的消息系统，相关需求均以“⾖邮”指代⾖瓣

站内消息。

服务供应商：提供安装服务的第三⽅公司，⼀个供应商会服务多个省份，同⼀个省份也会有多个供应

商；当前业务预计会接⼊ 6 家左右的供应商。

坏的例⼦：

⾖邮：相关需求⾥⾯，有时写“⾖邮”，有时写“消息”，有时写“站内信”。

服务供应商：⽂档中服务商、供应商、安装公司等名词混⽤。

PRD写作要求 - 7

4.7 竞品分析

竞品分析是⼀个复杂的话题，展开聊充分，可能需要巨⻓篇幅的⽂章。

我从观察到的，容易流于表⾯的竞品分析⼊⼿，提炼竞品分析的⼏个核⼼注意事项有：

带着问题

把点连成⾯

考虑不同的视⻆

带着问题进⾏竞品分析是必要条件。

我们不知道靶⼦，⾃然不知道向何处射箭。市⾯上能搜到很多竞品分析的⽂章往往是为了分析⽽分析，先

⽐较⾏业数据、产品数据(a)，再列⼀张脑图(b)，列出来某个 app 的前端功能点，然后截⼏张截图，说说

⾃⼰对截图中功能点的看法(c)，最后列出⼀堆建议(d)。但实际上，⼯作实践中我们⼏乎不会进⾏这种格式

的竞品分析，这种竞品分析也很难得出我们期望的洞察和结论。

没有⽬标的竞品分析难以得出洞察的原因就是不聚焦。

a.⾏业和产品数据是⼤⾯数据，要对这个数据进⾏调优，可能依靠⾏业竞争格局、⾏业背景发展、业务的

供给和消费变化。相⽐之下，产品功能的改动⼏乎是最末尾的动作。

b.产品架构图，相⽐ C 端功能点枚举，我们也需要考虑到后端和策略的部分，枚举出来全集之后，再按照

场景归纳成⼏条产品线，例如抖⾳ app 为了扶持创作者做了哪些前后台的功能。⼀条产品线中的产品功能

点并⾮在物理上挨得很近，⽐如上⾯抖⾳的例⼦，既要考虑到信息流的流量扶持策略，也要关注到创作者

中⼼⾥⾯的功能点。如果仅仅按照功能点的⻚⾯结构对 C 端功能进⾏梳理，结构化的深度是有限的，也不

容易获得洞察。

c.没有对业务线的认知，仅凭⼏张截图其实很难评价某个⻚⾯设计的好坏。再加上⻚⾯的迭代周期、当前

⽬标等多种因素不同，同⼀个样式的⻚⾯，在 A 产品内可能就是个巧妙的解决⽅案，在 B 产品内可能就没

那么优雅。

d.缺乏上⾯的洞察，最终给产品提⼀堆建议，也⼤概率会流于表⾯，起不到太多业务价值。

上⾯说的是反⾯的例⼦，那么怎么带着问题进⾏竞品分析呢？

如果是⼯作中的场景，问题是显⽽易⻅的，基本就是我们⼯作中要设计的需求对应的问题。

如果是出于兴趣的竞品分析，可以按照“哪些⽤户”+“什么场景下”+“遇到什么问题”+“产品是怎么解决

的”这个公式提炼⾃⼰的问题。问题越具体，越容易得出有价值的洞察。

⼀些好的竞品分析问题：

新品类的消费受众⼩，优秀创作者少，抖⾳从产品层⾯是怎么扶持新品类的新创作者的？

⼩红书⼀篇爆款 UGC ⽂章从发布到互动量爆炸，会经历哪些前后台的流程，会归纳成哪⼏个阶段？

热播剧结束之后，腾讯视频是怎么吸引⽤户继续使⽤本 app 的？

把点连成⾯，指的就是结构化。

竞品分析最基础的⼯作是枚举信息量，但单纯的信息量⼏乎起不了什么业务价值。我们知道苹果发展史，

但是我们做不出来苹果。⽐如我梳理了⼩红书 app 所有⻚⾯的名字和类型，但拿这些信息能做什么，其实

挺迷茫的。

PRD写作要求 - 8

把信息量通过某种⽅式结构化梳理出来，这就形成了知识。如果你有⼩红书 app 所有⻚⾯的名字，你能否

按照⽤户和场景不同，把他们分类⼀下？如果某⼀类的新功能点⽐较多，是不是就表示这可能是⼩红书的

核⼼模块或者正在发⼒的模块？

把知识再抽象、结构化，提炼出来他们共同的特性，这就成了⽅法论。假如我们发现⼩红书围绕图⽂、视

频两类内容，虽然功能点不⼀样，但是某些功能组合及运营套路相近，就有可能归纳出来他们对不同类内

容的扶持⽅式（当然这⾥就不能仅局限在产品分析了，需要运营视⻆）。这就是⼩红书内容⽅法论。

信息量是难以单独产⽣价值的，产⽣价值的是⽅法论。通过对竞品的归纳分析，总结竞品⽅法论，并放到

本产品的场景中进⾏思考，进⽽找到可以借鉴的点。

考虑不同视⻆。

第⼀个维度前⾯提到了，产品的前后端视⻆。

有很多流量策略、分发逻辑、推荐策略、冷启策略等，并不⼀定直观呈现在 C 端产品上，只聚焦某个⻚⾯

⻓啥样，分析肯定是不全⾯的。

另⼀个⻆度，通过对业务具体场景的结构化抽象，形成的通⽤的、中台性质的功能，也是很有分析学习的

必要的。

第⼆个维度，产品、运营、财务、品牌的视⻆。

拿内容产品来说，除了⽤户价值以外，上⾯提到的这些因素都是会影响产品设计的维度。

例如最右，信息流的样式设计这种产品问题，跟最右内容极度依赖 pgc 内容采买是互为因果、息息相关

的。

再⽐如很多免费⼯具产品，刻意强调它们⼴告太多了，在我看来是有失偏颇的竞品分析结论，因为免费⼯

具 app 的变现⼿段极为有限，总不能让他们活不下去吧。

第三个维度，时间视⻆。

当前是产品刚出现的 mvp 阶段，还是追求⽤户量增⻓的阶段，还是追求利润率的阶段？每个阶段的打法和

重点是不⼀样的。有些竞品分析⾥⾯会提到 XX 产品如果有 XXX 功能就好了，可能确实是加分项，但那不

⼀定是该产品当前最⽣死攸关的问题。

最后说说竞品分析这个模块的格式。

⼀般是结论先⾏，结论就是我们看竞品时，⼼⾥带着的那个问题的答案，根据竞品的实践抽象出来的⽅法

论。

结论过后是直接你结论的论据。可能竞品分析的时候，我们收集了 100 条信息，此处只要展示出来⾜够能

说明你结论的那⼏条即可。

所以竞品分析不⼀定篇幅很⻓，竞品分析不需要⾯⾯俱到，只要能解答你⼼中的那个问题即可。

5.需求概述怎么写？

5.1 需求概述是什么？

需求概述是写在需求详细描述前，⽤最概括的⽅式让⼤家看到需求全景的模块。

PRD写作要求 - 9

为什么要写需求概述呢？

对于简单的需求，按照有逻辑的顺序依次说明功能即可，但是对于有⼀定复杂度的需求、涉及到前后端多

端交互的需求、⽤户流程较⻓的需求，如果没有需求概述，⼤家在看需求详情的时候不容易理解每个模块

之间的关系是怎么样的。

对于不同的需求类型，需求概述的⻆度是由不同的：

流程复杂 C 端需求，可以⽤⼀张图表示清楚各个 C 端界⾯的流转情况，并给每个界⾯标号，⽅便概述和详

述对照看。

模块复杂的 C 端界⾯，可以⽤⼀张图详细说明当前⻚⾯的所有模块，以及每个模块可能出现的样式，相当

于是描述了全集，这样详述的时候就可以按照场景或者逻辑详细描述了。

复杂后端需求，可以⽤⼀张图表示后端各个模块之间的交互情况，并且对于有 C 端界⾯的环节进⾏标记，

⽅便前后端⼀起理解

对已有功能的修改需求，需要把现有的完整流程画出来，然后标识出本次修改了哪个部分的流程。

根据需求复杂度的不同，需求概述⼀般是上⾯四种情况的任意组合形式。

5.2 怎么⼀图流讲清楚前端交互

第⼀种情况是前端的复杂流程。

指的是包含 N 个⻚⾯，⻚⾯与⻚⾯之间有相对复杂的跳转逻辑。

我的习惯是⽤⼀张图画出来 C 端的主流程，然后⽤⽂字或流程模块标识出边界情况。

例如：

第⼆种情况是前端的复杂界⾯。

指的是单⻚⾯，但是单⻚⾯的元素⽐较多，每个元素在不同的场景下会有不同的样式。

例如：

PRD写作要求 - 10

5.3 怎么⼀图流讲清楚后端交互

⼀般说明后端交互会有⼏种形式：

第⼀种是说明不同模块之间的交互关系，可以⽤泳道图的⽅式来描述。

PRD写作要求 - 11

第⼆种是某个属性的复杂变化，⼀般⽤状态机来描述。

第三种是业务流程在不同情况下的⾛向，⽤流程图来描述。

流程图有⼀个起点，⼀个终点，详细画法可以参考：

实际的需求⽂档中，其实不⼀定遵循标准画法，⼤家容易理解即可。

PRD写作要求 - 12

https://www.cnblogs.com/lukelook/p/11217031.html5.4 还有哪些需要说明的？

如果需求涉及的参与⽅⽐较多，可以在⽂档中说明相关参与⽅、负责的模块、交互顺序、交付物、时间点

等信息，⽤于让⼤家了解整体项⽬节奏。

PRD写作要求 - 13

需求模块

相关⽅

A

B

C

a

b

c

描述

XXX

XXX

XXX

负责⼈

时间点

什么时间点

前，完成什

么交付物

aa

bb

cc

6.需求详述怎么写？

PRD写作要求 - 14

6.1 需求详述的作⽤是什么？

还⽤说嘛？

需求详述就是需求⽂档的本体，是需求的说明书。

关注需求详述的⼈有谁呢？

研发和测试团队。所以需求详述除了要按照⽤户视⻆描述需求以外，也要尽可能的按照研发视⻆展示

产品经理对这个需求前后端结构化的抽象思考。同时，为了保证抽象化的语⾔是容易理解、没有偏差

的，我⼀般还会把具体的⼀些边界⽤例写在星号后⾯，来具体展示实际场景中，我们设计的抽象逻辑

是怎么应⽤的。

设计团队。所以除了需求的功能实现要讲清楚以外，对设计有明确依赖的，要写明设计意图或设计倾

向。例如：此处建议使⽤滑动动效，但具体效果以 UE 设计稿为准。对于看到的好的设计、好的交互，

如果产品经理能讲明⽩为什么要这样设计，也可以把具体的例⼦放到⽂档⾥。

合作伙伴或后来⼈。需求除了实现的时候会看以外，可能你的继任者、你的合作伙伴也会翻你的⽂

档。为了保证理解⻔槛⾜够低，⾃⼰的需求⽂档尽量形成固定的写作⻛格，并且保证⾃⼰⽂档中的各

种名词、代号是统⼀的。

6.2 按照什么样的顺序讲需求模块？

参考⾦字塔原理，需求模块的讲解顺序，可以参考下⾯⼏个顺序：

按照总分关系，递进讲解，⼀般适⽤于逻辑结构复杂，⼀个场景对应 N 个下游的需求，例如淘宝⾸⻚的设

计

按照⽤户旅程，顺序讲解，⼀般是⽤于⽤户流程较⻓，但是有明确的主线和⽀线之分的需求，例如从商详

⻚下单到成功⽀付的需求

PRD写作要求 - 15

按照模块结构，逐个讲解，⼀般是流程不⻓、模块与模块之间相对独⽴的需求，例如商品上下架的前后台

需求

PRD写作要求 - 16

根据不同的需求类型，选择最容易理解的讲解顺序。

6.3 怎么把⼀个需求模块讲清楚？

单个需求模块的讲解也需求遵循⾦字塔原理，从主到次，从总到分。

⼀般我的习惯是这么讲解——

模块概述：⼀句话讲明⽩这个模块是什么

出现条件/进⼊条件/上级⻚⾯：说明什么情况下，这个模块会出现

描述逐个元素：

⽂案是什么

类型是仅展示、可交互还是输⼊组件

交互效果是什么

下级⻚⾯是什么

对应的后端交互是什么

特殊情况：这个模块会遇到的边界情况有哪些，需要怎么处理

举个例⼦，说明淘宝的确认购买按钮：

6.4 还有漏的吗？

PRD写作要求 - 17

为了防⽌需求描述有遗漏，我整理了⼀个 prd ⾃查⼯具，⾃⼰写⽂档的时候⽤来对照查看⾃⼰有没有遗漏

的地⽅。

PRD写作要求 - 18

PRD写作要求 - 19

